:root {
    --red: #970C10;
    --ivory: #EDF1E9;
    --charcoal: #3E5460;
    --mimosa: #FFD780;
    --shadow-dark: rgba(0, 0, 0, 0.5);
    --shadow-light: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
}